body {
    background: #e9ebee;
}
.bg-grey-light-minus {
    background: #D1E1E9;
}
.bg-grey-light {
    background: #A6BACC;
}
.bg-grey {
    background: #7A96AB;
}
.bg-grey-dark {
    background: #526F84;
}
.bg-grey-dark-plus {
    background: #445766;
}

.text-green {
    color: #00D1B2;
}
span.bg-green, .bg-green {
    background-color: #00D1B2;
}

.btn-green {
    color: #FFF;
    background-color: #00D1B2;
    border-color: #00D1B2;
}
.btn-green:hover {
    color: #00D1B2;
    background-color: #FFF;
    border-color: #00D1B2;
}

